@import "tailwindcss";

@theme {
    --color-primary: #2e7d6f;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* For scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #ffffff;
}
