@import "tailwindcss";

@theme {
  --color-primary: #2e7d6f;
}

/* For dark mode */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* For scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #ffffff;
}

/* Remove spin buttons from type number input */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style for profile quick links */
.quick-link {
  @apply flex flex-col items-center justify-center bg-white dark:bg-gray-800 p-6 rounded-lg shadow hover:bg-gray-100 dark:hover:bg-gray-700 transition text-sm font-medium;
}